# Vectorization

Imports

In [3]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

Data

In [37]:
df = pd.read_csv('../data/cleaned_tweets.csv')
df.head()

,id,tweet,sentiment,reply_count
0,1223752255846912000,fox corporation owner fox news trying bully ro...,-0.520000,150
1,1223738389003952128,folk hear cornovirus deal news heck doctor rec...,-0.200000,45
2,1223748267609030659,news finally excited journey potential finding...,0.500000,6
3,1223739174160928773,good news person investigation novel coronavir...,-0.250000,12
4,1223737953291128837,two avid golfer promised whoever died first wo...,0.166667,36

Create corpus

In [59]:
corpus = df['tweet'].values.astype(str)

Perform TF-IDF vectorization

In [52]:
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(corpus)
print(f'There are {tfidf_matrix.shape[1]} unique words in the dataset.')

There are 31142 unique words in the dataset.

Sample of some features

In [58]:
features = tfidf.get_feature_names_out()
features[100:110]

array(['abner', 'abnormality', 'abo', 'aboard', 'abolish', 'abolished',
       'abolishing', 'abolition', 'abolitionist', 'abomination'],
      dtype=object)

Show TF-IDF matrix

In [63]:
tfidf_df = pd.DataFrame(tfidf_matrix.todense())
tfidf_df.head()

,0,1,2,3,4,5,6,7,8,9,...,31132,31133,31134,31135,31136,31137,31138,31139,31140,31141
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0